# Core dependencies
langchain
langchain-community
langchain-pinecone
langchain-openai
langchain-core
langgraph
langsmith


# Vector database
pinecone-client

# Environment management
python-dotenv

# Pydantic for structured output
pydantic

# Utilities
tqdm

# FastAPI and server
fastapi
uvicorn[standard]
pydantic

